$padding-amount: 5px;
$code-snip-bg-clr: black;
$curved-brdr: 25px;
$p-margn-t-b:15px;
@mixin primary-margin-l{
  margin-left: 20%;
}
@mixin secondary-margin-l{
  margin-left: 10%;
}

#Blog {
  h1 {
    margin-top: 100px;
    padding: 15px;
    @include primary-margin-l;
    margin-right: 20%;
    border-bottom: solid #c0c0c0;
  }
  p {
    padding: $padding-amount;
    @include secondary-margin-l;
    margin-right: 20%;
    margin-top: $p-margn-t-b;
    margin-bottom: $p-margn-t-b;
  }

  code {
    @include primary-margin-l;
    border-radius: $curved-brdr;
    background-color: $code-snip-bg-clr;
    padding: $padding-amount;
  }

  ol{
    @include secondary-margin-l;
  }

  ul{
    @include secondary-margin-l;
  }

  a:hover{
    text-decoration: none;
    display: inline-block;
    transform: scale(1.05);
    color: aqua;
    transition-duration: .3s; 
  }

  .npm {
    color: yellow;
    border-radius: $curved-brdr;
    background-color: $code-snip-bg-clr;
    padding: $padding-amount;
  }

  .code {
    border-radius: $curved-brdr;
    background-color: $code-snip-bg-clr;
    padding: $padding-amount;
    color: #e83e8c;
    font-size: 87.5%;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}

@media screen and (max-width: 1060px) {
  #Blog {
    h1 {
      margin-top: 75px;
      padding: 5px;
      @include secondary-margin-l;
      margin-right: 10%;
      font-size: xx-large;
    }
    p {
      margin-top: 10px;
      margin-left: 5%;
      margin-right: 10%;
    }

    code {
      @include secondary-margin-l;
    }
  }
}
