$padding-amount :5px;
$code-snip-bg-clr :black;

#Blog{
  h1{
    margin-top: 100px;
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: solid #C0C0C0;
  }
  p{
    padding: $padding-amount;
    margin-left: 10%;
    margin-right: 20%;
  }

  code{
    margin-left: 20%;
    border-radius: 25px;
    background-color: $code-snip-bg-clr;
    padding: $padding-amount;
  }

  .npm{
    color: yellow;
    border-radius: 25px;
    background-color: $code-snip-bg-clr;
    padding: $padding-amount;
  }

  .code{
    border-radius: 25px;
    background-color: $code-snip-bg-clr;
    padding: $padding-amount;
    color: #e83e8c;
    font-size: 87.5%;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}