header{
  margin-left: 25%;
  margin-right: 25%;
}

header div{
  display: inline;
  padding: 7px;
}

header a{
  text-decoration: none;
  color: #C0C0C0;
  padding: 7px;
}

#name{
  margin-top: 100px;
  padding:1px;
}

img{
  width: 438px;
  height: 466px;
}

.psLogo{
  width: 33px;
  height:30px;
  margin: 4px;
}

.col{
  padding-left:10px;
  padding-right: 10px;
}

div .row{
  padding: 1px;
  margin: 5%;
}

.col p {
  width: 438px;
}


@media screen and (max-width:1060px){
  #lg_about{
    display: none;
  }
  #sm_about{
    display: block;
    margin-left:5px;
    margin-right: 5px; 
  }
}

@media screen and (min-width:1061px){
  #lg_about{
    display: inline-flexbox;
  }
  #sm_about{
    display: none;
  }
}

