body {
  margin: 0;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(105,105,105,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Audiowide', cursive;
  color: #C0C0C0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

