html{
  width: 100%;
}

body {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(105,105,105,1) 100%);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Audiowide', cursive;
  color: #C0C0C0;
}

@media(prefers-color-scheme: light){
  body {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(105,105,105,1) 100%);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Audiowide', cursive;
    color: black;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

